kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "librechat.fullname" $ }}-configenv
data:
  {{- if (index .Values "librechat-rag-api" "enabled") }}
  RAG_API_URL: http://{{ include "rag.fullname" (index .Subcharts "librechat-rag-api") | lower }}.{{ .Release.Namespace | lower }}.svc.cluster.local:8000 
  {{- end }}
  {{- if and (not (dig "configEnv" "MEILI_HOST" "" .Values.librechat)) .Values.meilisearch.enabled }}
  MEILI_HOST: http://{{ include "meilisearch.fullname" .Subcharts.meilisearch }}.{{ .Release.Namespace | lower }}.svc.cluster.local:7700
  {{- end }}
  {{- if and (not (dig "configEnv" "MONGO_URI" "" .Values.librechat)) .Values.mongodb.enabled }}
  MONGO_URI: mongodb://{{ include "mongodb.service.nameOverride" .Subcharts.mongodb }}.{{ .Release.Namespace | lower }}.svc.cluster.local:27017/LibreChat
  {{- end }}
  {{- if and (not (dig "configEnv" "USE_REDIS" "" .Values.librechat)) .Values.redis.enabled }}
  USE_REDIS: "true"
  {{- end }}
  {{- if and (not (dig "configEnv" "REDIS_URI" "" .Values.librechat)) .Values.redis.enabled }}
  {{- if not .Values.redis.auth.enabled }}
  REDIS_URI: redis://{{ include "librechat.redis.fullname" . }}-master.{{ .Release.Namespace | lower }}.svc.cluster.local:6379
  {{- end }}
  {{/*- When redis.auth.enabled, REDIS_URI is constructed in the Deployment env block via $(REDIS_PASSWORD) substitution */}}
  {{- end }}
  {{- if and (not (dig "configEnv" "SEARXNG_INSTANCE_URL" "" .Values.librechat)) .Values.searxng.enabled }}
  SEARXNG_INSTANCE_URL: http://{{ include "librechat.fullname" . }}-searxng.{{ .Release.Namespace | lower }}.svc.cluster.local:8080
  {{- end }}
  {{- if and (not (dig "configEnv" "AWS_ENDPOINT_URL" "" .Values.librechat)) .Values.minio.enabled }}
  AWS_ENDPOINT_URL: http://{{ include "librechat.fullname" . }}-minio.{{ .Release.Namespace | lower }}.svc.cluster.local:9000
  {{- end }}
  {{- if and (not (dig "configEnv" "AWS_FORCE_PATH_STYLE" "" .Values.librechat)) .Values.minio.enabled }}
  AWS_FORCE_PATH_STYLE: "true"
  {{- end }}
  {{- if and (not (dig "configEnv" "AWS_BUCKET_NAME" "" .Values.librechat)) .Values.minio.enabled }}
  AWS_BUCKET_NAME: "librechat-files"
  {{- end }}
  {{- if and (not (dig "configEnv" "AWS_PRESIGN_ENDPOINT_URL" "" .Values.librechat)) .Values.minio.enabled .Values.ingress.enabled (gt (len .Values.ingress.hosts) 0) }}
  AWS_PRESIGN_ENDPOINT_URL: {{ if .Values.ingress.tls }}https{{ else }}http{{ end }}://{{ (index .Values.ingress.hosts 0).host }}
  {{- end }}
  {{- if .Values.librechat.configEnv }}
  {{- toYaml .Values.librechat.configEnv | nindent 2 }}
  {{- end }}
